{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <link rel="stylesheet" href="{% static 'appfacultad/css/styles.css' %}">
   {% block title %}
   
   {% endblock title %}

</head>
<body>
    <header>
       {% block header %}{% endblock header %}
    </header>
   
    <main>
        {% include "appfacultad/menu.html" %}
    </main>
    <footer>
        <p>&copy; 2023 Facultad Management System</p>
    </footer>
</body>
</html>